body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ccd4cc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-outline-pink{
  border-color: #feecee;
}
.btn-outline-pink:hover{
  background-color: #feecee;
}
.bg-nav{
  background-color:#ccd4cc ;
}
.bg-header{
  width: 100%;
}
.header{
  position: relative;
}
.header img {
  width: 100%;
}
.title{
  position: absolute;
  top: 100px;
  left:10%;
}